body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(170, 165, 202);
    font-family: 'Ubuntu';
    text-align: center;
}

.user {
    border: solid 7px black;
    margin-top: 15px;
    border-radius: 5px
}